.home {
    text-align: center;
}

.home h1 {
    font-weight: bold;
    font-size: 1.2em;
}

.home p {
    color: #666;
    font-size: 0.8em;
    line-height: 1.6em;
    margin: 10px 20px 20px 20px;
}

.home img {
    margin-top: -10px;
}

.home h2 {
    color: #999;
    font-size: 0.7em;
}

.x-tab .x-button-icon.infinite {
    -webkit-mask-image: url('../../touch/resources/themes/images/default/pictos/infinite.png');
}

.x-tab .x-button-icon.twitter {
    -webkit-mask-image: url('../../touch/resources/themes/images/default/pictos/twitter2.png');
}

.blog p {
    color: #555;
    padding: 20px 20px 0 20px;
    font-size: 1em;
    line-height: 1.4em;
}

.my-dataview-item {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

.my-dataview-item-img {
    margin-right: 1em;
}

.my-dataview-item-name {
    font-weight: bold;
}
